h2 { text-align: center; font-size: 20pt; font-weight: bold; }

#categoryName { text-align: center; font-size: 24pt; font-weight: bold; }

#categoryLatin { text-align: center; margin-top: -15px;
                font-size: 16pt; font-weight: normal; font-style: italic; }

#subcategoryHeadline {text-align: center; font-size: 18pt; font-weight: bold; }

#empty_category { width: 100%; margin-top: 50px;
                  text-align: center; color: grey; }

.itemLink { color: black; text-decoration: none; }

.categoryItem { width: 600px; max-width: 100%; display: table;
                padding: 5px; margin: auto; margin-bottom: 10px;
                border-width: 1px; border-style: solid; border-color: #9999ff; border-radius: 8px;
                background-color: #eef3fa; }

.categoryItem:hover { background-color: #dee6f5; }

.unpublishedItem { border-color: #ff9999; background-color: #faf3ee; }

.unpublishedItem:hover { background-color: #f5e6de; }

.categoryIcon { width: 50px; height: 50px; vertical-align: middle; }
.categoryItemIconCell { display: table-cell; vertical-align: middle;
                        width: 50px; height: 50px; }

.categoryItemTextCell { display: table-cell; vertical-align: middle;
                    padding-left: 10px; font-size: 16pt; }
.categoryItemTextCell .latin { font-size: 14pt; }
.categoryItemNumCell { display: table-cell; vertical-align: middle;
                      text-align: right; padding-right: 15px;
                      font-size: 12pt; }

.pageItemEdit { display: table-cell; vertical-align: middle;
                      text-align: right; padding-right: 15px;
                      font-size: 12pt; width: 100px; }
.pageItemEdit input[type=submit] { width: 100%; }


.newPageButtonDiv { text-align: center; }
.newPageButton { width: 600px; max-width: 100%; font-size: 18pt; margin: 10px; }