#pageName {text-align: center; font-size: 24pt; font-weight: bold; }

#pageLatin {text-align: center; margin-top: -15px;
                font-size: 16pt; font-weight: normal; font-style: italic; }

#container { position: static; }

.pageContent { margin-left: 5px; margin-right: 5px; }

.imageComp { margin: auto; text-align: center; }
.imageDescription { font-size: 80%; font-weight: bold; }
.imageComp img { display: block; max-width: 95%; margin: auto; }

.modelDescription { font-size: 80%; font-weight: bold; }

/* editor */
.editColumn { text-align: center; width: 200px; padding: 5px;
             float: left; border-right: solid #999999; }
.contentBlock { display: block; margin-left: 210px; }

.simpleField { width: 100px; margin-left: 5px; margin-bottom: 5px; }

.editComp { width: 95%; display: table;
            padding: 5px; margin: auto; margin-bottom: 10px;
            border-width: 1px; border-style: solid; border-color: #999999; border-radius: 8px;
            background-color: #dfdfdf; }
.topBar { display: table; width: 100%; }
.componentType { font-weight: bold; display: table-cell; }
.componentTopButtons { text-align: right; display: table-cell; }

.longField { width: 98%; }
.bottomSpace { margin-bottom: 10px; }

.addButton { width: 150px; }
.saveButton { color: #aa0000; font-weight: bold; width: 150px; height: 30px; }

